*{
  margin: 0 !important;
  padding: 0 !important;
}
body{
  height: 100vh;
}
.Container{
  height: 100% !important;
}
.Sidebar{
  height: 100vh;
  background-color: #2b3238 !important;
  position: fixed;
}
.Sidebar ul li{
    list-style: none;
    cursor: pointer;
    width: 100%;
    padding: 20px !important;
}
.Sidebar ul li:hover{
    background-color: #212529;
}
.Content{
  height: auto;
  padding: 30px 30px 30px 40px !important;
}
  .Product{
    overflow: hidden;
    border-radius: 10px;
    height:320px;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Add, .Edit{
  height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Image {
    width: 100%;

}
.Image img {
    width: 100%;
}
Form{
  padding: 15px !important;
  
  width: 100%;

}
Input {
  padding: 7px !important;
}
Button:not(.DeleteButton, .EditButton){
  padding: 5px 10px !important;
  background-color: #212529 !important;
}
.Image{
  position: relative;
}

.DeleteButton{
  padding: 5px !important;
  position: absolute;
  right:5px;
  top:50px;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
}
.EditButton{
  padding: 5px !important;
  position: absolute;
  width: 40px;
  right:5px;
  top:5px;
  height: 40px;
  border-radius: 50% !important;
}